footer{
    margin-top: 100px;
}

.main-box{
    margin: 50px;
    margin-top: 100px;
}

h2{
    font-size: 25px;
    font-weight: 600;
}

.maincontainer .back{
    border: 2px solid white;
    border-radius: 10px;
}

.maincontainer .front h2{
    color: white;
    font-size: 25px;
    background: lightcoral;

}

.title-logo{
    font-size: 60px;
    margin-left: 10%;
    
}

