body{
    background-color: #03111c;
    color:#dc3545;   
}

#head{
    margin-top:5rem;
}

#ourObjectives{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    text-align: center;
}

#objectivesList{
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Ubuntu Mono", monospace;
    padding-left: 16rem ;
    padding-right: 16rem;
   
}
footer{
    margin-top: 10rem;
}


